form{
    margin: 0 auto;
  }
  
  input{
    display: block;
     margin-top: 10px;
     margin-left: 25px;
     padding: 5px;
  }

  input[type='checkbox']{
      width: 15px;
  }
  
  label{
    margin: 0;
  }
  
  .rem{
      display: inline;
  }

  .welcome{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .formBox{
    border: 1px solid;
    width: 50%;
    height: 66%;
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
  }